.flip {
	transition: all 1s ease;
    transform-style: preserve-3d;
    min-height: 300px;
    min-width: 212px;
    max-height: 300px;
    max-width: 212px;

    .flip-1, .flip-2 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background-color: $white_2;
    }

    .flip-1 {
        .titulo {
            text-align: center;
            width: 100%;
        }
    }

    .flip-2 {
        transform: rotateY(-180deg);

        .flip-content {
            height: calc(100% - 70px);
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;

            .icon-centered {
                height: 50px;
                width: 50px;
                font-size: 22px;
                color: $white_2;
                background-color: rgba($sidebar_hover, 0.85);
            }

            .icon-centered:hover {
                background-color: rgba($sidebar_hover, 0.7);
            }
        }
    }
}

.flip:hover {
	transform: rotateY(180deg);
}
