.flip {
	transition: all 1s ease;
    transform-style: preserve-3d;
    min-height: 300px;
    min-width: 212px;
    max-height: 300px;
    max-width: 212px;

    .flip-1, .flip-2 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background-color: #FFF;
    }

    .flip-1 {
        .titulo {
            text-align: center;
            width: 100%;
        }
    }

    .flip-2 {
        transform: rotateY(-180deg);
        background-color: $sidebar;

        a {
            text-decoration: none;

            .icon-centered {
                max-height: 95px;
                height: 100%;
                width: 100%;
                font-size: 35px;
                color: $white_2;
            }

            .icon-centered:hover {
                background-color: $sidebar_hover;
            }
        }

        a:nth-child(2) .icon-centered {
            max-height: 110px;
            border: 5px solid rgba(darken($sidebar, 2%), 100%);
            border-left: none;
            border-right: none;
        }
    }
}

.flip:hover {
	transform: rotateY(180deg);
}
