@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?e9j5mk');
    src:  url('fonts/icomoon.eot?e9j5mk#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?e9j5mk') format('truetype'),
      url('fonts/icomoon.woff?e9j5mk') format('woff'),
      url('fonts/icomoon.svg?e9j5mk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-menu:before {
    content: "\e900";
  }
  .icon-add-book:before {
    content: "\e902";
  }
  .icon-info:before {
    content: "\e901";
  }
  .icon-home:before {
    content: "\e903";
  }
  .icon-edit:before {
    content: "\e906";
  }
  .icon-open-book:before {
    content: "\e91f";
  }
  .icon-books:before {
    content: "\e920";
  }
  .icon-pags:before {
    content: "\e925";
  }
  .icon-paginate:before {
    content: "\e92c";
  }
  .icon-open-collection:before {
    content: "\e930";
  }
  .icon-add-collection:before {
    content: "\e931";
  }
  .icon-qr-code:before {
    content: "\e938";
  }
  .icon-notifications:before {
    content: "\e951";
  }
  .icon-download:before {
    content: "\e960";
  }
  .icon-login:before {
    content: "\e972";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-zoom-in:before {
    content: "\e987";
  }
  .icon-zoom-out:before {
    content: "\e988";
  }
  .icon-page-full:before {
    content: "\e989";
  }
  .icon-page-auto:before {
    content: "\e98a";
  }
  .icon-conf:before {
    content: "\e994";
  }
  .icon-delete:before {
    content: "\e9ac";
  }
  .icon-off:before {
    content: "\e9b6";
  }
  .icon-add:before {
    content: "\ea0a";
  }
  .icon-next:before {
    content: "\ea3c";
  }
  .icon-back:before {
    content: "\ea40";
  }
  .icon-page-next:before {
    content: "\ea42";
  }
  .icon-page-back:before {
    content: "\ea44";
  }
  .icon-cascade:before {
    content: "\ea68";
  }
  .icon-cpanel:before {
    content: "\ea81";
  }
  .icon-share:before {
    content: "\ea82";
  }
  .icon-storage:before {
    content: "\eaaf";
  }
