.library-menu {
    background-color: $white_2;
    position: fixed;
    bottom: 0;
    left: calc(50% - 150px);
    height: 300px;
    transition: height 0.4s;
    width: 300px;
    cursor: pointer;

    #toggle-library {
        position: absolute;
        font-size: 24px;
        padding: 8px;
        top: -40px;
        left: calc(50% - 21px);
        background-color: $white_2;
    }

    .library-menu-option {
        font-size: 18px;
        text-decoration: none;
        color: $white_2;
        text-align: center;
        background-color: $sidebar;
        transition: background 0.4s;

        span {
            font-size: 32px;
        }

        &:hover {
            background-color: $sidebar_hover;
        }
    }

    @include media-breakpoint-up(sm) {
        left: calc(50% - 125px);
    }
}

.active-library-menu {
    height: 0;
}
