#topbar {
    background-color: rgba($sidebar_hover, 0.8);

    a {
        text-decoration: none;
        color: $white_2;

        .icon-centered {
            height: 50px;
            width: 50px;
            font-size: 24px;
        }
    }
}



.pdf-thumbnail, .pdf-document {
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.pdf-page {
    display: block;
    margin-bottom: 10px;
}

.overflow-x-active {
    overflow-x: auto !important;
}