.background, .blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.blur-bg {
  filter: blur(5px); // Temporal hasta editar la imagen con blur
  // background-image: url('../images/bg_blur.jpg');
}

.bg-alpha {
  background-color: $bg_alpha;
}

.btn-link-secondary, .btn-link-secondary:hover {
  color: $white_2;
}

span.icon-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#sidebar {
  background-color: $sidebar;
  max-width: 50px;
  height: 100vh;
  transition: width 0.4s;

  ul {
    display: flex;
    flex-direction: column;

    li {
      a {
        text-decoration: none;

        span {
          height: 50px;
          width: 50px;
          font-size: 18px;
          color: $white_2;
          transition: background 0.4s;
        }

        span:hover {
          background-color: $sidebar_hover;
        }
      }
    }
  }
}

.card {
  background-color: $white_1;
  border-radius: 0;

  .card-header {
    font-size: 1.5em;
  }

  .card-body {
    font-size: 1em;
  }
}