// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

body {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}