<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <style>
        .bg-white {
            background-color: rgba(255, 255, 255, 1);
        }
        .bg-gray-100 {
            background-color: rgba(243, 244, 246, 1);
        }
        .border-blue-500 {
            border-color: rgba(59, 130, 246, 1);
        }
        .border-2 {
            border-width: 2px;
        }
        .border-solid {
            border-style: solid;
        }
        .rounded {
            border-radius: 0.25rem;
        }
        .font-sans {
            font-family: ui-sans-serif, system-ui, -apple-system,
                BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
                Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
                'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        }
        .font-medium {
            font-weight: 500;
        }
        .text-sm {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
        .text-3xl {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
        .my-4 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .mx-auto {
            margin-left: auto;
            margin-right: auto;
        }
        .mt-0 {
            margin-top: 0px;
        }
        .mt-4 {
            margin-top: 1rem;
        }
        .mb-6 {
            margin-bottom: 1.5rem;
        }
        .max-w-2xl {
            max-width: 42rem;
        }
        .min-h-screen {
            min-height: 100vh;
        }
        .p-2 {
            padding: 0.5rem;
        }
        .p-10 {
            padding: 2.5rem;
        }
        .pt-4 {
            padding-top: 1rem;
        }
        .text-center {
            text-align: center;
        }
        .text-gray-500 {
            color: rgba(107, 114, 128, 1);
        }
        .antialiased {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .w-1\/2 {
            width: 50%;
        }
        @media (min-width: 768px) {
            .md\:mb-4 {
                margin-bottom: 1rem;
            }
        }
    </style>
</head>
<body>
    <div
		class="min-h-screen font-sans antialiased bg-gray-100"
	>
		<div class="max-w-2xl mx-auto pt-4">
			<div class="text-3xl text-center">Ace Books</div>

			{% block content %}{% endblock %}

			<div class="text-center text-sm text-gray-500">
				Copyright &copy; {{ 'now'|date('Y') }} Ace Books. All rights reserved.
			</div>
		</div>
	</div>
</body>
</html>