<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../css/output.css" rel="stylesheet" type="text/css">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="min-h-screen font-sans antialiased bg-gray-100">
		<div class="max-w-2xl mx-auto pt-4">
			<div class="w-full">
				<img class="w-28 my-2 mx-auto" src="cid:logo" alt="Ace Books Logo">
			</div>

			<div class="w-full text-center text-3xl">Ace Books</div>

			<div class="bg-white my-4 p-10 rounded-md">
				{% block content %}{% endblock %}
			</div>

			<div class="text-center text-sm text-gray-500">
				Copyright &copy; {{ 'now'|date('Y') }} Ace Books. All rights reserved.
			</div>
		</div>
	</div>
</body>
</html>
