name: Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches:
      - master
jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Global Dependencies
        run: npm install --global vercel@latest cpy-cli@latest
      - name: Fix typescript paths
        run: node .github/scripts/fix-ts-paths.js
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: Fix assets for Vercel
        run: cpy "src/**/*.{png,svg,twig,css}" .vercel/output --parents
      - name: Show directory tree
        run: tree -a -I 'node_modules|.git' || find . -type f -name ".*" -prune -o -type d -name "node_modules" -prune -o -type d -name ".git" -prune -o -print | head -50
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
